<div class="container" ng-controller="AboutController">
  <div class="row">
    <div class="col-xs-12">
      <ul class="breadcrumb">
        <li>
          <a ui-sref="app">Home</a>
        </li>
        <li class="active">About Us</li>
      </ul>
    </div>
    <div class="col-xs-12">
      <h3>Project creators</h3>
      <hr>
    </div>
  </div>

  <div class="row row-content">
    <div class="col-xs-12 col-sm-7">
      <h1>Our Teacher</h1><br>
      <h2><strong>Professor Anabarasi.M</strong></h2>

      <br>
      <p>Hailed as the Best teacher for Database Management System.</p>


    </div>

 
  <div class="col-xs-12 col-sm-5">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">MILESTONES</h3>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>Started</dt>
          <dd>around August 1st</dd>
          <dt>Database</dt>
          <dd>Mongodb</dd>
          <dt>framerworks</dt>
          <dd>bootstrap,angular,mongoose</dd>

        </dl>
      </div>
    </div>
  </div>
</div>


  <div class="row row-content">
    <div class="col-xs-12 col-sm-9">
      <h2>Team Members</h2><br><br>
      <ul class="media-list">
        <li class="media">
          <div class="media-body">
            <h3 class="media-heading">VIKRANTH KANUMURU
              <small>
                2ND YEAR
              </small>
            </h3>
          </div>
        </li>
        <li class="media">
          <div class="media-body">
            <h3 class="media-heading">SHYAM KIRAN
              <small>
                  2ND YEAR
                </small>
            </h3>
          </div>
        </li>
      </ul>

    </div>
    <div class="col-xs-12 col-sm-3">
      <p style="padding:20px;"></p>
    </div>
  </div>
</div>