body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.ptext{
  position: absolute;
  top: 40%;
  width: 100%;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-align: center;
}
.ptext .border{
  color: white;
  background-color: black;
  padding: 20px;
}